<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <button id="btn">跨域请求</button>
    <div id="show"></div>
    <script>
        function show(data){
            console.log(data)
        }

        $(function () {
            $("#btn").click(function () {
                var body = document.getElementsByTagName('body')[0];
                var script = document.createElement('script');
                script.type = "text/javascript";
                script.src = "http://127.0.0.1:5000/02-server";
                body.append(script)
            });
        });
        {#$(function () {#}
        {#      url = "http://127.0.0.1:5000/02-server";#}
        {#    $.get(url,function (data) {#}
        {#        $("#btn").click(function () {#}
        {#            $("#show").html(data);#}
        {#        });#}
        {#    });#}
        // {#});#}
    </script>
</body>
</html>